/* ------------general style------------ */

header{
	background: #4C0B5F;
	padding:1rem 2rem;
	display:flex;
	text-align:center;
	justify-content:space-between;
	flex-flow:row wrap;
	align-items:center;
}

hr {
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  border-top: 0.1rem solid #ffffff;
  width:90%;
}

body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	font-size: 1rem;
}

main{
	flex:1;
	display:inline-block;
	order:2;
	width:75%,
}

footer{
	background:#4C0B5F;
	color:#ffffff;
	text-align:center;
	font-size:0.8rem;
	padding:1rem;
}

aside{
	background:#290837;
	display:flex;
	flex-flow:column wrap;
	width:25%;
}

/* ------------header style------------ */

#main-flex{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header-icon{
	display:none;
}

#middle-item{
	height:2.5rem;
	margin:0rem;
	flex-grow:2;
}

input[list].header-select {
	padding: 0.7rem 0.5rem;
	border-radius: 0.3rem;
	border-style: none;
	color: black;
}

#header-search{
	display:inline-block;
	margin-left: 0.5rem;
	color:#B882B9;
	position:relative;
}

#header-search-mobile{
	color:white;
	display:none;
}

#header-user{
	display:none;
	text-align:center;
}

.searchModal{
	position:absolute;
	background:white;
	width:60%;
	font-color:black;
}

/* ------------main style------------ */

.mainaside{
	display: flex;
	flex-direction: row;
	flex:1;
}

#main-buttons{
	flex-flow:row wrap;
	color:white;
	font-weight:bold;
}

.green{
	background:#3DBB9B;
	cursor:pointer;
	text-align:center;
	width:12rem;
	height:12rem;
	padding: 1rem 0;
	margin:1rem;
	flex-grow:4;
}

.green i{
	margin:0.5rem;
	text-align:center;
	padding: 1rem 0;
}

/* ------------aside-main style------------ */

#mainNotifications{
	background:#290837;  margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	flex: 1;
}

input[list].notif-select {
	padding: 0.5rem 0.2rem;
	width: 50%;
	border-radius: 0.3rem;
	border-style: none;
	color: black;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}

#notif-icons{
	display: flex;
	flex-flow:row wrap;
	margin-left: auto;
	margin-right: auto;
}

#notif-icons i{
	color:white;
	text-align:center;
	height:2rem;
	padding:1.6rem 1.8rem;
	margin:0;
}

#aside-container{
	flex-grow: 1;
	display:flex;
	flex-flow: row wrap;
}

#scroll-notif{
  color: white;
  width: 5%;
  margin-top: 20%;
  margin-bottom: 80%;
  margin-left: 1.5rem;
}

#scroll-notif i{
	padding:1rem 0;
}

[data-notificationsEmail] [data-notificationsBus] [data-notificationsWarning] [data-notificationsNotes]{
	position: relative;
}

[data-notificationsEmail]:after {
	content: attr(data-notificationsEmail);
	position: absolute;
	background:#F6BC44;
	border-radius: 100%;
	display: inline-block;
	padding: 0.2rem;
	color: #f2f2f2;
	right: 1rem;
	top: 1rem;
	font-size: 0.8rem;
}

[data-notificationsBus]:after {
	content: attr(data-notificationsBus);
	position: absolute;
	background:#8CC253;
	border-radius: 100%;
	display: inline-block;
	padding: 0.2rem;
	color: #f2f2f2;
	right: 1rem;
	top: 1rem;
	font-size: 0.8rem;
}

[data-notificationsWarning]:after {
	content: attr(data-notificationsWarning);
	position: absolute;
	background:#E5583F;
	border-radius: 100%;
	display: inline-block;
	padding: 0.2rem;
	color: #f2f2f2;
	right: 1rem;
	top: 1rem;
	font-size: 0.8rem;
}

[data-notificationsNotes]:after {
	content: attr(data-notificationsNotes);
	position: absolute;
	background:#2E72B5;
	border-radius: 100%;
	display: inline-block;
	padding: 0.2rem;
	color: #f2f2f2;
	right: 1rem;
	top: 1rem;
	font-size: 0.8rem;
}

#listNotifications{
	display:flex;
	flex-flow:row wrap;
}

#ul-notif{
	width:80%;
}

#ul-notif li{
	list-style:none;
	border-left-style:solid;
	border-left-width:0.4rem;
	color:white;
	margin:0.5rem 0;
	padding: 0.1rem 0.6rem;
	height: 4rem;
}

#ul-notif li:hover .notificationInfo p{
	display: none;
}

#ul-notif li:hover .notificationActions{
	display: block;
	height: 100%;
}

#ul-notif li .red h5{
	color:#E5583F;
}

#ul-notif li .green2 h5{
	color:#8CC253;
}

#ul-notif li .yellow h5{
	color:#F6BC44;
}

#ul-notif li .blue h5{
	color:#2E72B5;
}

#ul-notif li h5{
	font-family:sans-serif;
	font-weight:bold;
}

#ul-notif li p{
	font-size:0.8rem;
}

#ul-notif li i{
	padding:0 0.7rem;
}

.warning{
	border-left-color: #E5583F;
}

.email{
	border-left-color: #F6BC44;
}

.bus{
	border-left-color: rgb(140, 194, 83);
}

.notes{
	border-left-color: #2E72B5;
}

.notificationActions {
	display: none;
}

/* ------------extra style------------ */

.compress{
	color:white;
	margin-right:1rem;
	margin-top:1rem;
}

.disable{
	opacity:0.5;
}

.search{
	color:#B882B9;
}

.overridable-flex{
	display:flex;
}

.mobile-overridable-flex{
	display:none;
}

/* ------------media query style------------ */

@media screen and (max-width:1240px) {
	aside {
		display: none;
	}
	
	header img{
		display:none;
	}
	
	#header-icon{
		display:inline-block;
		color:white;
	}
	
	#scroll-notif{
		display:none;
	}
	
	#aside-container{
		margin-left:auto;
		margin-right:auto;
	}

	.mobile-overridable-flex{
		display:flex;
	}
	
	.non-displayed{
		display:none;
	}
	
	#ul-notif{
		width:100%;
	}
}

@media screen and (max-width:800px) {
	header{
		height:4.5rem;
	}
	
	input[list].header-select {
		display:none;
	}
	
	#middle-item{
		height:1.5rem;
	}
	
	.btn-group{
		display:none;
	}
	
	#header-user{
		display:inline-block;
		color:white;
	}
	
	#header-search-mobile{
		display:inline;
	}
	
	#header-search{
		display:none;
	}
}