header{
	background: #4C0B5F;
	padding:0 2rem;
	text-align:center;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin:0;
	padding:0;
	font-family:sans-serif;
	font-size: 1rem;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

hr{
	border:1px solid black;
	width:90%;
}

input[type="text"] {
	padding: 0.7rem 0.5rem;
	border-radius: 0.3rem;
	border-style: none;
	color: black;
	border: 0.1rem solid gray;
	margin-top: 1rem;
}

input[type="number"]{
	padding: 0.7rem 0.5rem;
	border-radius: 0.3rem;
	border-style: none;
	color: black;
	border: 0.1rem solid gray;
}

input[type="date"]{
	padding: 0.7rem 0.5rem;
	border-radius: 0.3rem;
	border-style: none;
	color: black;
	border: 0.1rem solid gray;
}

textarea{
	padding: 0.7rem 0.5rem;
	border-radius: 0.3rem;
	border-style: none;
	color: black;
	border: 0.1rem solid gray;
	width: 40%;
	margin-top:1rem !important;
}

header nav > ul{
	display: flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:center;
	padding:0;
}

header nav > ul > li{
	display: inline;
	position:relative;
	list-style-type: none;
	cursor:pointer;
	color:white;
}

header nav > ul > li div{
	display:inline-block;
}

header nav > ul > li div img{
	width: 70%;
}

header nav > ul > li:nth-child(1) > div.bubble {
	left:0rem;
	width:16rem;
}

header nav > ul > li:nth-child(3) > div.bubble {
	left: -10.3rem;
}

header nav > ul > li:nth-child(3) div.bubble input[type="text"]{
	width: 18rem;
	margin: 0.6rem 1rem;
}

header nav > ul > li:nth-child(4) > div.bubble {
	right:0rem;
	width: 12rem;
}

main {
	display: flex;
	flex-direction: column;
 	flex:1;
}

aside > nav{
	display:flex;
	flex-flow:row wrap;
	background: #830D9A;
}

aside > nav > ul{
	list-style:none;
	color:white;
	margin:0rem;
	padding-left:0px;
	display:flex;
	flex-direction: row wrap;
	justify-content:space-around;
	flex: 1;
}

aside > nav > ul > li{
	display: inline-block;
	padding:1rem 0;
	text-align:center;
	cursor:pointer;
	position:relative;
	flex:1;
}

aside > nav > ul > li > span{
	display:block;
	padding-top:1rem;
	text-align:center;
	font-size: 1rem;
	font-weight: bold;
}

aside > nav > ul > li div{
	display:block;
}

aside .dropdown-menu{
	background:#2D8F76;
	color:white;
	width:100%;
	position:absolute;
	z-index:99;
	top:6.1rem;
	min-width:12rem;
}

aside .dropdown-menu.non-displayed {
	display:none;
}

.dropdown-menu {
  -webkit-animation-duration: 0.4s !important;
  -moz-animation-duration: 0.4s !important;
  animation-duration: 0.4s !important;
}

aside > nav > ul > li.active {
	background:#3DBB9B;
}

aside .dropdown-menu ul{
	margin-left:0;
	padding-left:0;
}

aside .dropdown-menu ul li{
	list-style:none;
	text-align:left;
	padding:1rem;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

aside .dropdown-menu ul li i{
	padding-right:0.5rem;
}

aside .subMenu{
	background:#246E5B;
}

footer{
	background:#4C0B5F;
	color:#ffffff;
	text-align:center;
	font-size:0.8rem;
	padding:1rem;
}

#loginContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100vw;
    flex: 1;
}

#login {
	display: flex;
	flex-flow:row wrap;
	justify-content:center;
	align-content:center;
	padding:0;
	flex: 1;
}

#login ul{
	list-style:none;
	padding: 0;
	margin-top: 1rem;
}

#login ul li{
	text-align: center;
}

#login ul li input[type="text"]{
	width: 100%;
}

#login img{
	margin-top: 3rem;
	margin-bottom: 2rem;
}

#actions{
	display:flex;
	flex-flow:column wrap;
	color:white;
	font-weight:bold;
	width:100%;
	flex:1;
	background:white;
}

#notifications{
	display:flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background:#290837;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	flex:1;
}

#articleUl{
	width: 60%;
}

#articleUl li{
	border-bottom: solid 2px #2D8F76;
	padding-bottom: 0.5rem;
	padding-left: 2%;
}

#clientSearch {
	margin: 1rem;
	text-align: center;
}

#clientSearch input[type="text"]{
	margin: 0px !important;
}

[twoFacedElement] {
 	-webkit-perspective: 5000px;
 	-moz-perspective: 5000px;
 	perspective: 5000px;
}

[twoFacedElement] [face] {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}

/* click effect */
[twoFacedElement] [face="isOnTheBack:+"] {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

[twoFacedElement] [face="isOnTheBack:-"] {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

[twoFacedElement] [face="isOnTheFront"] {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#actions h2{
	background: #3DBB9B;
	color: white;
	padding-bottom: 1rem;
	padding-top: 1rem;
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/*margin-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-left: 0;*/

#actions ul{
	color:black;
	font-weight:normal;
	list-style:none;
}

#actions ul li{
	margin-bottom:2rem;
	text-align: left;
}

#actions h4{
	color: black;
	border-bottom: solid 3px #2D8F76;
	padding-bottom: 0.5rem;
	font-weight: bold;
	width:80%;
}

#actions h5{
	color: black;
	border-bottom: solid 1px black;
	padding-bottom: 0.5rem;
	font-weight: bold;
	width:70%;
}

#actions h3{
	color:black;
	text-align:right;
	margin-right:4rem;
	margin-top:1rem;
	font-size:2rem;
}

#actions div{
	margin-right:4rem;
}

#actions div > span{
	color:black;
	float:right;
	font-size:1rem;
	font-weight:normal;
	margin:0 0.5rem 1rem 0.5rem;
}

#actions label{
	color:black;
	width:25%;
	font-weight:normal;
	margin-right:1.5rem;
}

#actions input[type="text"]{
	margin-right:1rem;
	width: 40%;
}

#actions input[type="radio"]{
	color:black;
	margin-top:1rem;
}

#actions input[type="checkbox"]{
	color:black;
	margin-top:1rem;
}

#actions input[type="number"]{
	color:black;
	margin-top:1rem;
	width: 10%;
}

#actions input[type="date"]{
	color:black;
	margin-top:1rem;
	width: 20%;
}

.bubble {
	background:white;
	box-shadow:0rem 0rem 1rem black;
	position:absolute;
	z-index:99;
	color:black;
	padding:0.5rem 1rem;
	top: 2.3rem;
}

.bubble div {
	margin: 1rem;
}

.bubble ul{
	padding: 1rem 0.5rem 0 0.5rem;
	margin:0;
}

.bubble ul li{
	list-style:none;
	text-align:left;
	padding-bottom:2rem;
	cursor:pointer;
}

.bubble ul li:last-child{
	padding-bottom:1rem;
}

.bubble ul li i{
	padding:0rem 0.6rem 0rem 0rem;
	color:black;
}

.bubble.non-displayed {
	display:none;
}

.bubble {
  -webkit-animation-duration: 0.4s !important;
  -moz-animation-duration: 0.4s !important;
  animation-duration: 0.4s !important;
}

.only-large-resolutions {
	display:block !important;
}

.only-large-to-medium-resolutions {
	display:block !important;
}

.only-medium-resolutions {
	display:none !important;
}

.only-medium-to-small-resolutions {
	display:none !important;
}

.only-small-resolutions {
	display:none !important;
}

hr {
  border-top: 0.1rem solid #ffffff;
  width:90%;
}

input[list].notif-select {
	padding: 0.7rem 0.5rem;
	border-radius: 0.3rem;
	border-style: none;
	color: black;
	margin-top: 0.6rem;
	margin-left: auto;
	margin-right: auto;
	width: 18rem;
}

.notif-icons{
	display: flex;
	flex-flow:row wrap;
	margin-left: auto;
	margin-right: auto;
}

.notif-icons i{
	color: white;
	text-align: center;
	height: 2rem;
	padding: 1.6rem 1.65rem;
	margin: 0;
	cursor: pointer;
}

.notif-icons > span  {
	position:relative;
}

.notif-icons > span > div.bubble {
	left: -7rem;
	top: 3.2rem;
	width: 10rem;
}

.ul-notif{
	width:80%;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:center;
}

.ul-notif li{
	list-style:none;
	border-left-style:solid;
	border-left-width:0.4rem;
	color:white;
	margin:0.5rem 0;
	padding: 0.1rem 0.6rem;
	height: 4rem;
	width:20rem;
}

.ul-notif li:hover .notificationInfo p{
	display: none;
}

.ul-notif li:hover .notificationActions{
	display: block;
	height: 100%;
}

.ul-notif li h3{
	font-family:sans-serif;
	font-weight:bold;
}

.ul-notif li .red h3{
	color:#E5583F;
}

.ul-notif li .green2 h3{
	color:#8CC253;
}

.ul-notif li .yellow h3{
	color:#F6BC44;
}

.ul-notif li .blue h3{
	color:#2E72B5;
}

.ul-notif li h3{
	font-family:sans-serif;
	font-weight:bold;
	margin-bottom: 0.7rem;
	margin-top:0rem;
}

.ul-notif li p{
	font-size:1rem;
}

.ul-notif li i{
	padding:0 1.3rem;
	cursor:pointer;
}

.aside-container{
	flex-grow: 1;
	display:flex;
	flex-flow: row wrap;
}

.scroll-notif{
  color: white;
  width: 5%;
  margin-top: 20%;
  margin-bottom: 80%;
  margin-left: 1.5rem;
  position:relative;
}

.scroll-notif i{
	padding:1rem 0;
	cursor:pointer;
}

.header-search{
	display:inline-block;
	margin-left: 0.5rem;
	color:#B882B9;
	cursor:pointer;
}

.indexButton{
	background:#B882B9;
	cursor:pointer;
	text-align:center;
	width:12rem;
	height:12rem;
	padding: 1rem 0;
	margin:1rem;
	flex-grow:4;
}

.indexButton i{
	margin:0.5rem;
	text-align:center;
	padding: 1rem 0;
}

.warning{
	border-left-color: #E5583F;
}

.email{
	border-left-color: #F6BC44;
}

.bus{
	border-left-color: rgb(140, 194, 83);
}

.notes{
	border-left-color: #2E72B5;
}

[data-notificationsEmail] [data-notificationsBus] [data-notificationsWarning] [data-notificationsNotes]{
	position: relative;
}

[data-notificationsEmail]:after {
	content: attr(data-notificationsEmail);
	position: absolute;
	background:#F6BC44;
	border-radius: 100%;
	display: inline-block;
	padding: 0.2rem;
	color: #f2f2f2;
	right: 1rem;
	top: 1rem;
	font-size: 0.8rem;
}

[data-notificationsBus]:after {
	content: attr(data-notificationsBus);
	position: absolute;
	background:#8CC253;
	border-radius: 100%;
	display: inline-block;
	padding: 0.2rem;
	color: #f2f2f2;
	right: 1rem;
	top: 1rem;
	font-size: 0.8rem;
}

[data-notificationsWarning]:after {
	content: attr(data-notificationsWarning);
	position: absolute;
	background:#E5583F;
	border-radius: 100%;
	display: inline-block;
	padding: 0.2rem;
	color: #f2f2f2;
	right: 1rem;
	top: 1rem;
	font-size: 0.8rem;
}

[data-notificationsNotes]:after {
	content: attr(data-notificationsNotes);
	position: absolute;
	background:#2E72B5;
	border-radius: 100%;
	display: inline-block;
	padding: 0.2rem;
	color: #f2f2f2;
	right: 1rem;
	top: 1rem;
	font-size: 0.8rem;
}

.notificationActions {
	display: none;
}

.notificationActions {
	display: none;
}

.compress{
	color:white;
	margin-right:1rem;
	margin-top:1rem;
}

.disable{
	opacity:0.5;
}

.button{
	background: #B882B9;
	padding:0.7rem 0.5rem;
	border-radius:0.3rem;
	border-style: none;
	color: white !important;
	cursor:pointer;
	font-weight:normal;
}

.button i{
	padding:0rem 0.3rem 0rem 0.3rem;
}

.button1{
	background: #830D9A;
	padding:0.7rem 0.5rem;
	border-radius:0.3rem;
	border-style: none;
	color: white !important;
	cursor:pointer;
	font-weight:normal;
}

.button1 i{
	padding:0rem 0.3rem 0rem 0.3rem;
}

.button2{
	background: #3DBB9B;
	padding: 0.7rem 0.5rem;
    border-radius: 0.3rem;
    border-style: none;
    color: white !important;
    margin-top: 1rem;
	cursor:pointer;
	font-weight:normal;
	text-align: center;
	margin-top: 2rem;
}

.nonDisplayedAll{
	height:0 !important;
	margin:0 !important;
	padding:0 !important;
	border:0 !important;
	visibility:hidden;
}

.iconButtonsContainer{
	margin-left:auto;
	margin-right:auto;
	margin-top:1.5rem;

}

.iconButtons{
	padding:0.3rem 1rem;
	border-radius:0.3rem;
	border-style: none;
	color: white;
	cursor:pointer;
	margin:0 0.2rem;
}

.message{
	background:#F6BC44;
}

.ticket{
	background:rgb(140, 194, 83);
}

.order{
	color:white;
	margin-top:1rem;
	display:flex;
	justify-content:space-around;
}

.options{
	display:none;
}

@media screen and (max-width:1240px) {
	.only-large-resolutions {
		display:none !important;
	}

	.only-large-to-medium-resolutions {
		display:block !important;
	}
	
	.only-medium-resolutions {
		display:block !important;
	}
	
	.only-medium-to-small-resolutions {
		display:block !important;
	}

	.only-small-resolutions {
		display:none !important;
	}

	#notifications .ul-notif{
		display:flex;
		flex-flow:row wrap;
		justify-content:space-around;
		align-items:center;
	}

	#notifications  .ul-notif li{
		width:20rem;
	}

	#notifications  .ul-notif li i{
		padding-right:2rem;
	}
	
	.scroll-notif{
		display:none;
	}
	
	.aside-container{
		margin-left:auto;
		margin-right:auto;
	}
	
	.ul-notif{
		width:100%;
	}
	
	.options{
		display:block;
		margin-left: 1.5rem;
		margin-top: 1rem;
	}
	
	.options i{
		color:#B882B9;
		cursor:pointer;
		position: relative;
	}
	
	aside .dropdown-menu{
		top:4rem;
	}
}

@media screen and (max-width:800px) {
	header{
		padding-top:0.5rem;
		padding-bottom:0.5rem;
	}
	
	.only-large-resolutions {
		display:none !important;
	}

	.only-large-to-medium-resolutions {
		display:none !important;
	}

	.only-medium-resolutions {
		display:none !important;
	}

	.only-medium-to-small-resolutions {
		display:block !important;
	}

	.only-small-resolutions {
		display:block !important;
	}
	
	aside .fa-2x{
		font-size:1rem;
	}
	
	aside > nav > ul > li{
		padding:1rem 1rem;
	}
	
	aside .dropdown-menu{
		top:3.1rem;
	}
	
	aside > nav > ul > li:nth-child(1) .dropdown-menu{
		left:0rem;
	}
	
	aside > nav > ul > li:nth-child(2) .dropdown-menu{
		left:0rem;
	}
	
	aside > nav > ul > li:nth-child(3) .dropdown-menu{
		left:0rem;
	}
	
	aside > nav > ul > li:nth-child(4) .dropdown-menu{
		right:0rem;
	}
	
	aside > nav > ul > li:nth-child(5) .dropdown-menu{
		right:0rem;
	}
	
	aside > nav > ul > li:nth-child(6) .dropdown-menu{
		right:0rem;
	}
	
	#actions h3{
		text-align:center;
		margin-right:0;
	}
	
	#actions ul{
		margin-left:0;
	}
	
	#actions span{
		font-size:1.5rem;
	}
}